<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.photobook" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="26" android:targetSdkVersion="28" />
	<uses-permission android:name="android.permission.CAMERA" />
	<application android:label="Photobook.Android" android:icon="@drawable/bottom_bg">
    <provider>
      android:authorities="${applicationId.provider}"
      android:name="android.support.v4.content.FileProvider"
      android:exported="false"
      android:grantUriPermissions="true"
      <meta-data android:name="android.support.v4.content.FILE_PROVIDER_PATHS"
                 android:resource="@xml/Resource_paths"/>
    </provider>

  </application>

</manifest>